
p{
  color: #a0a0a0;
}
a {
    color: #00cd6b;
    text-decoration: none;
}
a:hover, a:focus {
    color: #45eb8c;
    text-decoration: none;
}
h2{
   font-size: em(22,16);
    font-family: 'Raleway', sans-serif;
}
h3{
   
    font-family: 'Raleway', sans-serif;
}