header{
  border-bottom: solid $color-secundary 1.625em;
  background-image:url('../images/devices.png') ,url('../images/background.jpg');
  background-size: em(800,16) , cover;
  background-position: 70% bottom, left;
  background-repeat: no-repeat, no-repeat;
  height: 37.5em;

  h3{
    color: #fff;
    margin: 0;
    font-size: 3em;
    font-weight: bold;
  }
}

.content-logo{
      width: 30%;
      margin-top: em(100,16);
      margin-bottom: em(37,16);

      
}
.conten-text{
  margin-top:  em(70,16);
   margin-bottom: em(10,16);

}
.content-phoneOs{
  width: 70%;
}