

$color-background: #fff;
$color-background-2: #e3e3e3;
$color-fontprincipal: #a0a0a0;
$color-secundary: #ff9a1d;
$color-secundary-hover: #ff701d;
$color-background-trans1: rgba(0, 0, 0, 0.40);
$color-background-trans2: rgba(196, 196, 196, 0.73);
$color-background-trans3: rgba(46, 204, 113, 0.51);


$color-font1:#222222;
$color-font2:#848484;
$color-font3:#2e2e2e;